@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	#header
		min-height: 700px
	.main-top
		margin: 0 5px !important
	.main-bottom
		.container
			width: 100%
			border-radius: 0 !important
		i.fa-star
			display: none
		.flex-row-left
			flex-direction: column
			align-content: flex-start
			p
				margin: 0 2px
				padding: 1px 2px
		.flex-row-right
			flex-direction: column
			align-content: flex-end
			p
				margin: 0 2px
				padding: 1px 2px


	.description
		padding-bottom: 214px
	.press_slider
		padding: 64px 0
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.press_slider
		justify-content: inherit !important



/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	video
		display: none
	#header
		min-height: 100vh
	.bg_dots
		bottom: 80px !important
		right: 0 !important
	.adaptive_menu
		display: block !important
		z-index: 999
		.slicknav_menu
			display: inline-block !important
			color: $accent
	.main-top
		.language
			display: none !important
		.menu
			display: none
		.logo
			left: 50% !important
			margin-left: -150px !important
	.center-bottom
		i
			line-height: 63px
			position: relative
			font-size: 45px !important
			top: -10px
			left: 0
	.press_slider
		.owl-nav
			.owl-next, .owl-prev
				top: 45% !important


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.press_slider,.videos,.restaurants_selector
		padding-bottom: 200px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/

/*==========  Video on backgroung  ==========*/
//@media (min-aspect-ratio: 16/9)
//	#video_bg
//		height: 300%
//		top: -100%
//@media (max-aspect-ratio: 16/9)
//	#video_bg
//		width: 300%
//		left: -100%
//@supports (object-fit: cover)
//	#video_bg
//		top: 0
//		left: 0
//		width: 100%
//		height: 100%
//		object-fit: cover
/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

