@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
button:active, button:focus
	outline: none
.img-responsive
	display: block
	max-width: 100%
	height: auto

.disp_none
	display: none !important
#header
	width: 100%
	min-height: 100vh
	height: 100vh
	background-size: cover
	background-position: center
	position: relative
	overflow: hidden
	z-index: 9
	background-image: url(../img/fire.png)
	#video_bg
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: -1000
		min-height: 100%
		min-width: 100%
		width: auto
		height: auto

	.main-top
		max-width: 1170px
		position: relative
		margin: 0 auto
		z-index: 9999
		.language
			position: absolute
			top: 40px
			right: 0
			display: flex
			color: #fff
			ul
				list-style: none
				margin: 0
				padding: 0
				display: flex
				justify-content: space-between
				//outline: 1px solid #ccc
				li
					font-family: $font-light
					margin-right: 10px
					&:last-child
						margin-right: 0
					a
						color: #fff
						border: 1px solid #9A865C
						padding: 5px
						border-radius: 5px
						background-color: rgba(0, 0, 0, 0.6)
						text-decoration: none
						transition: all 0.5s
						&:hover
							color: #9A865C
							font-family: $font-bold
		.logo
			width: 300px
			height: 115px
			position: absolute
			font-family: $font-bold
			font-size: 18px
			top: 45px
			left: 0
			text-align: center
			background-color: rgba(0, 0, 0, 0.6)
			border-radius: 15px
			border: 1px solid #9A865C
			z-index: 99
			.name
				color: #fff
				text-transform: uppercase
				margin: 5px 0
				transition: all 0.5s ease
			.row-line
				font-size: 10px
				width: 100%
				display: flex
				position: relative
				flex-direction: row
				align-items: center
				//white-space: nowrap
				span
					display: flex
					margin: 0
					padding: 0
					color: $accent
					justify-content: space-between
					i
						transition: all 0.5s ease
						margin-right: 4px
						&:last-child
							margin-right: 0

				&::before
					content: ''
					height: 1px
					width: 100%
					position: relative
					background-color: #fff
					display: inline-block
					margin: 0 5px 0 10px
				&::after
					content: ''
					height: 1px
					width: 100%
					position: relative
					background-color: #fff
					display: inline-block
					margin: 0 10px 0 5px

			.desc
				margin-top: 5px
				font-size: 15px
				color: #ffffff
				font-family: $font-light
			a:hover
				text-decoration: none
				.name
					transition: all 0.5s ease
					color: $accent

		.menu
			position: absolute
			top: 200px
			left: 0
			width: 300px
			background-color: rgba(0, 0, 0, 0.6)
			border-radius: 15px
			border: 1px solid #9A865C
			z-index: 99
			ul
				width: 100%
				margin: 0
				padding: 0
				list-style: none
				text-transform: uppercase
				text-align: center
				a
					color: #fff
					display: block
					text-decoration: none
					transition: color 0.5s
					&:hover
						color: #9A865C

				.drop
					display: block
					visibility: hidden
					height: 0
					opacity: 0
					color: #fff
					transition: all 1s ease
					font-size: 12px
					text-align: left
					padding-left: 72px
					li
						border-bottom: none
						transition: transform 0.5s
						&:hover
							transform: translate(40px,0)
				li
					border-bottom: 1px solid #9A865C
					position: relative
					padding: 5px 0
					&:last-child
						border-bottom: none
					&:hover
						.drop
							height: 145px
							visibility: visible
							opacity: 1
							transition: all 1s ease

					&.active
						a
							font-family: $font-bold
							color: #9A865C
	.bg_dots
		position: absolute
		bottom: 100px
		right: 60px
		width: 261px
		height: 30px
		ul
			list-style: none
			margin: 0
			padding: 0 7px 0 0
			display: flex
			justify-content: flex-end
			.bg_dot
				height: 30px
				width: 30px
				margin-right: 3px
				background-color: rgba(0, 0, 0, 0.6)
				border: 1px solid #fff
				border-radius: 5px
				&.active
					background-color: $accent
				&:last-child
					margin-right: 0
	.adaptive_menu
		display: none
		width: 100%
		background-color: rgba(0, 0, 0, 0.6)
		height: 50px
		z-index: 999
		.logo_adapt
			p
				line-height: 50px
				color: #fff
				font-size: 15px
				margin-left: 20px
				text-transform: uppercase
				margin-top: 0

	.main-bottom
		position: fixed
		bottom: 0
		left: 0
		color: #fff
		width: 100%
		z-index: 999
		.container
			background-color: rgba(0, 0, 0, 0.6)
			border-radius: 10px
			border: 1px solid #9A865C
		p
			font-size: 11px
		.flex-row-left, .flex-row-right
			display: flex
			justify-content: space-between
			align-items: center
		.center-bottom
			display: flex
			align-items: center
			justify-content: center
			position: relative
			i
				font-size: 35px
				transition: all 0.3s ease
				color: #fafafb
				&:hover
					transform: translate(0,10px)

.slicknav_menu
	text-transform: uppercase
	display: none !important
	position: absolute
	right: 0
	top: 0
	height: 50px
	background-color: transparent
	border-radius: 5px
	.slicknav_nav
		position: relative
		right: -5px
	.slicknav_btn
		background-color: transparent
	ul
		background-color: rgba(0, 0, 0, 0.6)
		li
			border-bottom: 1px solid $accent
			a
				font-family: $font-light
				display: block
				width: 100%
				margin: 0
				padding: 5px 20px

				&:hover
					color: #fafafa
					background-color: $accent
					border-radius: 0
		.slicknav_open
			ul.drop
				background-color: transparent
			li
				border-bottom: none
				background-color: transparent !important
				a
					background-color: transparent
					font-size: 12px
		.slicknav_item.slicknav_row
			transition: all 0.5s ease
			&:hover
				margin-left: 0
				background-color: $accent
				border-radius: 0

// main description

.description
	padding: 50px 0
	.desc-header
		text-align: center
		h2
			font-family: $font-bold
			color: $accent
			&:before
				content: ''
				height: 1px
				margin-bottom: 10px
				width: 100%
				background-color: $accent
				position: relative
				display: block
			&:after
				content: ''
				height: 1px
				margin-top: 10px
				width: 100%
				background-color: $accent
				position: relative
				display: block


	blockquote
		font-family: $font-light
		margin: 0
		padding: 30px 60px
		position: relative
		display: inline-block
		&:before
			content: "\201C"
			font-weight: 300
			position: absolute
			top: 20px
			left: 30px
			color: $accent
			width: 20px
			height: 20px
			font-size: 50px
			line-height: 1.35
			text-align: center
		&:after
			content: "\201C"
			font-weight: 300
			position: absolute
			top: 20px
			right: 30px
			color: $accent
			width: 20px
			height: 20px
			font-size: 50px
			line-height: 1.35
			text-align: center

// Section slider


.press_slider
	padding: 54px 0
	width: 100%
	background-color: #2B2121
	position: relative
	.press_owl_carousel
		overflow: hidden

		.owl-stage
			position: relative
			.owl-item
					width: 25%
					display: inline-block
					margin: 0
					img
						width: 100%
						padding: 0 15px
		.owl-dots
			visibility: hidden
		.owl-nav
			.owl-prev
				display: inline-block
				position: absolute
				font-size: 45px
				color: #fff
				top: 44%
				left: 25px
				z-index: 999
			.owl-next
				display: inline-block
				position: absolute
				top: 44%
				font-size: 45px
				color: #fff
				right: 25px

// Google map

.google_map_test
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: -1

// Restourants

.restaurants_selector
	padding: 50px 0
	width: 100%
	position: relative
	color: #fff
	font-size: 18px
	min-height: 700px
	.restaurants_button
		button
			border: 1px solid $accent
			background-color: #fff
			color: $accent
			padding: 5px 12px
			border-radius: 5px
			transition: all 0.5s ease
			margin: 10px 5px

			&:hover
				transition: all 0.5s ease
				background-color: $accent
				color: #fff
	.rest_item
		color: $accent
		border-left: 1px solid $accent
		margin: 10px 0 17px
		transition: all 0.3s ease
		&:first-of-type
			margin-top: 20px
		&:hover
			cursor: pointer
			transition: all 0.3s ease
			border-left: 3px solid
			transform: translate(12px,0)
			h4
				color: #89754E
				text-shadow: 2px 3px 2px rgba(0,0,0,0.2)
			p
				color: #6e6e6e
		h4
			display: inline-block
			margin: 0 12px 0 12px
			font-family: $font-bold
		i
			margin-right: 5px
			&:last-child
				margin-right: 0
		p
			margin: 0 12px 0 12px
			font-family: $font-light
			font-size: 12px
			color: #b5b5b5
// Video

.videos
	width: 100%
	padding: 50px 0
	background-color: #2B2121
	position: relative
	.video
		height: 320px
		background-color: #cacaca
		margin: 20px 0
		overflow: hidden



//
@import "media" // Всегда в конце
